{# empty Twig template #}


<html>
    <body>
        <h1>Ajouter un Contact</h1>

{% if message %}
        <p>{{ message }}</p>
{% endif %}

        <form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <input type="submit" />
        </form>
        <p><a href="{{ path('myapp_member_list') }}">Retour à la liste des contact</a></p>

    </body>
</html>
