{# empty Twig template #}


<html>
    <body>
        <h1>Modify </h1>
            {% if message %}
        <p>{{ message }}</p>
{% endif %}

        <form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <input type="submit" />
        </form>
        <p><a href="{{ path('myapp_member_list') }}">Retour à la liste des membres</a></p>
    </body>
</html>
